html, body{
    margin: 0;
    padding: 0;
}

#tool-bar {
    height: 60px;
    background-color: aliceblue;
    border-bottom: 1px solid darkslateblue;
}

.full-contain{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.main-container{
    top: 60px;
}

.main-view{
    border-right: 1px solid darkslateblue;
    padding: 0px;
    background-color: #262626;
}
#main-view{
}

svg text {
    fill : white;
}

.menu.hide{
    visibility:  hidden;
}
.menu .menu-item{
    cursor: pointer;
}

.menu .menu-item:hover rect{
    fill: #1B1B1B;
}
.menu .menu-item:hover text{
    font-weight: 700;
}